<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @question.assignee %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<p>
  <strong>Answered at:</strong>
  <%= @question.answered_at %>
</p>

<p>
  <strong>Project:</strong>
  <%= @question.project %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
