<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reading.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @reading.link %>
</p>

<p>
  <strong>Project:</strong>
  <%= @reading.project %>
</p>

<p>
  <strong>Read at:</strong>
  <%= @reading.read_at %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @reading.notes %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
